:root {
    --dark: 68,94,94;      /* #445E5E */
    --mark: 187,94,94;     /* #BB5E5E */
    --light: 243,244,244;  /* #F3F4F4 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: 400;
    font-family: 'Kanit', sans-serif;

    color: rgb(var(--dark));
}
html, body {
    background-color: rgb(var(--light));
}

.btn-hamburger, .btn-top {
    cursor: pointer;

    position: fixed;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    background-color: rgb(var(--light));
    z-index: 2;

    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(var(--dark));
}
.btn-hamburger {
    bottom: 65px;
}

.msg-alert {
    position: fixed;
    bottom: 15px;
    left: 15px;

    padding: .5em 1em;
    color: rgb(var(--light));
    background-color: rgba(var(--mark),.85);

    border-radius: .25em;
    border: .25em solid rgb(var(--light));

    opacity: 0;
}

.pop-nav{
    text-align: center;

    position: fixed;
    bottom: 85px;
    right: 40px;

    border: 3px solid rgb(var(--dark));
    border-radius: .25em;
    background-color: rgb(var(--light));
}
.pop-nav ul {
    list-style: none;
}
.pop-nav-btn {
    cursor: pointer;
    display: block;
    padding: .35em;
    margin: .5em;
}

.container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.imagotype {
    width: 10em;
    margin: 2.5em 0;
}
.brand {
    line-height: 0.85;
}
.brand .name{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem;
}
.brand .surname{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.75rem;
}
.subhead {
    font-weight: 200;
    margin-top: 1em;
    font-size: 1.15rem;
    color: rgba(var(--dark),0.35);
    text-align: center;
}
.nav {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
}
.button {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: rgb(var(--light));
    background-color: rgb(var(--dark));
    padding: .5em;
    margin: 0 .5em;
    border-radius: .2em;
    background-color: rgba(var(--dark),0.85);
}
.personal-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    line-height: 0;
}
.btn-link {
    display: inline-block;
    margin: 1em .5em 0 .5em;
}
.btn-link * {
    font-size: 1.5em;
    color: rgba(var(--dark),0.35);
}

.content > section {
    padding: 2em 0;
}
.content section h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}


.portfolio {
    overflow-x: scroll;

}
.reel {
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.video {
    background-color: #445E5EAA;
    border-radius: 5px;
    margin: 1em;
}
.video * {
    color: rgb(var(--light));
}
.video-thumb {
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.video-description {
    width: 100%;
    text-align: center;
}
.video-links {
    flex-direction: row;
    background-color: rgba(var(--dark),.5);
}
.video-links a {
    margin: 0 .25em;
    font-size: 2em;
}
.video-description-title {
    padding: .5em 0;
    font-weight: 400;
    font-size: 1.25em;
    background-color: rgba(var(--dark),.25);
}
.video-description-content {
    padding: .5em 1em;
    font-weight: 200;
    text-align: justify;
}

.contact {
    box-shadow: 0 0 15px 0 rgba(var(--dark),.25);
}
.contact label {
    width: 75%;
}
.contact input {
    width: 75%;
    margin-bottom: 2em;

    padding: 1em;
    outline:  none;
    border: 1px dotted rgba(var(--dark),0.35);
    font-size: 1em;
    font-weight: 200;
}
.contact textarea {
    resize: none;
    width: 75%;
    height: 10em;

    padding: 1em;
    outline:  none;
    border: 1px dotted rgba(var(--dark),0.35);
    font-size: 1em;
    font-weight: 200;

    margin-bottom: 2em;
}
.contact .button {
    text-transform: capitalize;
}

.footer {
    margin: 2em 0;
}

/* Generic stuff */
p {
    font-weight: 200;
    text-align: justify;
}
i {
    font-weight: 200;
}
.full {
    height: 100vh;
}
.flexv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flexc {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Browser hacks */
.smooth-scroll {
    scroll-behavior: smooth;
}

/* Media Queries */

@media only screen and (max-width: 979px) {
    .reel {
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 979px) and (orientation:landscape) {
    .full {
        height: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .reel {
        grid-template-columns: repeat(1,1fr);
    }
    .personal-links {
        flex-direction: column;
    }
}
@media only screen and (max-width: 374px) {
    .button{
        padding: .25em;
        margin: .25em .25em;
    }
}
@media only screen and (orientation:landscape) {
    .personal-links {
        flex-direction: row;
    }
}
