/* ------------------------------------------------------------------------- */
/* Daniel's CSS defaults */
/* ------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/* Page CSS */
/* ------------------------------------------------------------------------- */

:root {
    /* --c-back: 30, 38, 58; */
    --c-back: 25, 33, 53;
    --c-front: 232, 213, 194;
    --c-lmark: 136, 0, 68;
    --c-hmark: 211, 78, 78;
    --c-hlight: 120, 161, 187;

    --f-thin: 200;
    --f-heavy: 400;


    /* js setup */
    --vh: 1vh;
    --full-height-dynamic: calc(var(--vh,1vh) * 100);

    /* counters */
    counter-reset: nav-counter popnav-counter mainsec-counter;
}
* {
    color: rgb(var(--c-front));
    font-family: 'Source Code Pro', monospace;
}
html, body {
    background-color: rgb(var(--c-back));
}
body {
    height: 100%;
    background-image: url(./assets/img/bg.png);
    background-repeat: repeat;
}

.link{
    color: rgba(var(--c-hmark)) !important;
    transition: color ease-in-out 0.3s;
}
@media (hover: hover) {
    .link:hover {
        color: rgba(var(--c-hlight)) !important;
    }
}

.alt-font {
    font-family: 'Suez One', serif;
    letter-spacing: 2px;
}

.button, .button-alt {
    cursor: pointer;
    color: rgba(var(--c-hmark));
    font-size: 1rem;
    border: 1px solid transparent;
    border-bottom: 2px solid rgba(var(--c-hmark));
    background-color: rgba(var(--c-hlight),.05);
    padding: .75em 1em;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    transition: background-color ease-in-out 0.3s;
    font-family: 'Suez One', serif;
    letter-spacing: 2px;
}
@media (hover: hover) {
    .button:hover{
        background-color: rgba(var(--c-hlight),.15);
    }
    .button:active {
        background-color: rgba(var(--c-hlight),.35);
    }
}
.button-alt {
    color: rgb(var(--c-back));
    background-color: rgba(var(--c-back),.05);
    border-bottom: 3px solid rgba(var(--c-back));
}
@media (hover: hover) {
    .button-alt:hover {
        background-color: rgba(var(--c-back),.15);
    }
    .button-alt:active {
        background-color: rgba(var(--c-back),.35);
    }
}

/* Fixed items */

.intro {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: var(--full-height-dynamic);
    z-index: 9999;
    background-color: rgb(var(--c-back));

    display: flex;
    align-items: center;
    justify-content: center;

    transition:
        height cubic-bezier(0.23, 1, 0.320, 1) 0.3s,
        opacity ease-in-out .8s;
}
.intro a{
    margin: auto;
    font-size: 10em;
    font-weight: bolder;
    color: rgba(var(--c-hmark));
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 0 0 15px rgba(var(--c-hmark),.35);
    transition:
        text-shadow ease-in .6s,
        transform ease-in-out .8s;
}

.nav{
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    font-size: .85rem;

    padding: 0 4vw;
    box-shadow: 0 6px 24px -8px #0002;
    background-color: rgba(var(--c-back),1);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: background-color ease-in-out 0.2s;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 2em;
    font-weight: bolder;
    color: rgba(var(--c-hmark));
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 0 0 15px rgba(var(--c-hmark),.35);
    transition: text-shadow ease-out 0.3s;
}
@media (hover: hover) {
    .logo:hover {
        text-shadow: 0 0 15px rgba(var(--c-hmark),.8);
    }
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.nav-links > a::before {
    color: rgba(var(--c-hmark));
    counter-increment: nav-counter;
    content: "0"counter(nav-counter) ". ";
}
.nav-links > a {
    color: rgb(var(--c-front));
    margin: 1em;
    transition: color ease-out 0.15s;
}
@media (hover: hover) {
    .nav-links > a:hover {
        color: rgb(var(--c-hmark));
    }
    .nav-links > a:active {
        color: rgb(var(--c-hlight));
    }
}
.resume{
    text-align: center;
    margin: 0 .25em;
    cursor: pointer;
    border-radius: 5px;
    padding: .15em .45em;
    border: 1px solid transparent;
    background-color: rgba(var(--c-hlight),.05);
    border-bottom: 1px solid rgba(var(--c-hmark));
    transition: background-color ease-out 0.25s;
}
@media (hover: hover) {
    .resume:hover{
        background-color: rgba(var(--c-hlight),.15);
    }
    .resume:active {
        background-color: rgba(var(--c-hlight),.35);
    }
}
.resume * {
    color: rgba(var(--c-hmark));
}

/* Non fixed items */

.notfound {
    /* margin-top: 50px;
    padding-top: 75px;
    background: #0f05;
    height: 100vh;
    text-align: center;
    */

    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.notfound-img {
    width: 20vmax;
}
.notfound-img-wrapper {
    text-align: center;
    margin: 75px 0;
}
.notfound-btn {
    padding: 1em 2.5em;
    /* line-height: 2em; */
}
.notfound-btn span {
    color:  rgba(var(--c-hmark));
    margin-right: 1em;
    font-size: 1.25em;
}
.notfoud-text span {
    color:  rgba(var(--c-hmark));
    font-size: 1.4em;
}
.notfoud-text {
    font-style: italic;
    color:  rgba(var(--c-hlight));
    font-size: 1.2em;
}

.container{
    margin: 0 15vw;
    padding-top: 10vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    margin-bottom: 35vh;
    padding-top: 85px;
}
.introduction {
    font-size: 4vmax;
}
.introduction > small {
    color:  rgba(var(--c-hlight));
    font-size: .4em;
}
.introduction ul {
    width: 65%;

    font-size: 1rem;
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
    margin-top: .5em;
    list-style: none inside none;
}
.introduction ul > li {
    color: rgba(var(--c-front),.6);
}
.introduction ul > li::before {
    color: rgba(var(--c-front));
    content: '> ';
    font-size: .8em;
}
.brand{
    font-family: 'Suez One', serif;
    color:  rgba(var(--c-hmark));
    font-size: 1.5em;
}
.subhead {
    font-family: 'Suez One', serif;
    font-size: 1em;
}
.brief {
    margin-top: 4em;
}
.brief, .brief2 {
    color:  rgba(var(--c-front),.6);
    font-size: 1rem;
    text-align: justify;
    width: 65%;
}
.introduction .button {
    margin-top: 2em;
}

main > section > h2::before {
    color: rgba(var(--c-hmark));
    counter-increment: mainsec-counter;
    content: "0"counter(mainsec-counter) ". ";
    font-family: 'Source Code Pro', monospace;
}
main > section > h2 {
    margin-bottom: 2em;
}
main > section {
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    margin-bottom: 35vh;
    padding-top: 85px;
}
.avatar-wrapper {
    cursor: pointer;
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.avatar{
    --avatar-size: 250px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--c-hmark));

    box-shadow:
        10px -10px 0 0 rgba(var(--c-hmark),.75),
        20px -20px 0 0 rgba(var(--c-hmark),.5),
        30px -30px 0 0 rgba(var(--c-hmark),.25),
        40px -40px 0 0 rgba(var(--c-hmark),.125),
        50px -50px 0 0 rgba(var(--c-hmark),.0625),
        60px -60px 0 0 rgba(var(--c-hmark),.03125);

    transition:
        background-color ease-in-out 0.5s,
        box-shadow ease-in-out 0.4s;
}
@media (hover: hover) {
    .avatar:hover {
        background-color: rgba(var(--c-hlight));

        box-shadow:
            10px -10px 0 0 rgba(var(--c-hlight),.5),
            20px -20px 0 0 rgba(var(--c-hlight),.25),
            30px -30px 0 0 rgba(var(--c-hlight),.125),
            40px -40px 0 0 rgba(var(--c-hlight),.0625),
            50px -50px 0 0 rgba(var(--c-hlight),.03125),
            60px -60px 0 0 rgba(var(--c-hlight),.015625);
    }
}
.avatar > img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: .85;
}
.header>wrapper, .about > wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.about-text {
    width: 60%;
}
.about-text p {
    text-align: justify;
    color: rgba(var(--c-front),.6);
}
.about-text ul {
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
    margin-top: .5em;
    list-style: none inside none;
}
.about-text ul > li {
    color: rgba(var(--c-front),.6);
}
.about-text ul > li::before {
    color: rgba(var(--c-hmark));
    content: '> ';
    font-size: .8em;
}
.about-text .mark {
    color: rgba(var(--c-hlight),.75);
}

/* .portfolio {
    padding: 25px 0;
} */
.slides {
    display: grid;
    column-gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slide img {
    width: 250px;
    border-radius: 100%;
}
.slide-title {
    font-family: 'Suez One', serif;
    letter-spacing: 1px;
    text-transform: initial;
    margin-top: 1em;
}
.slide-desc {
    text-transform: initial;
    font-size: .9em;
    color: rgba(var(--c-front),.6);
    text-align: justify;
    margin: 0 auto;
    margin-top: 1em;
}
.slide-links {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.25em;
}
.slide-links a * {
    color: rgba(var(--c-hmark));
    transition: color ease-in-out 0.3s;
}
.slide-links a *:hover {
    color: rgba(var(--c-hlight));
}

.contact > wrapper {
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;
}
.contact small {
    opacity: .5;
    text-align: right;
    color: rgba(var(--c-front),.35);
    margin-top: .5rem;
}
.contact label::after {
    content: ':';
    opacity: .25;
}
.contact label {
    color: rgba(var(--c-front),.6);
    margin: .125em 0 .25em 0;
}
.contact input, .contact textarea {
    outline:  none;

    font-size: .75em;
    background-color: rgba(var(--c-hlight),.05);

    padding: .75em;
    margin-bottom: .5em;

    border-radius: 5px;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(var(--c-hmark));

    transition: background-color ease-in-out 0.3s;
}
.contact input:hover, .contact input:focus,
.contact textarea:hover, .contact textarea:focus
{
    background-color: rgba(var(--c-hlight),.15);
}
.contact textarea {
    resize: none;
    height: 8em;
}
.contact-alert {
    display: none;
    opacity: 0;

    justify-items: center;
    justify-content: center;
    grid-template-columns: 0fr 1fr;

    margin: 0 auto;
    margin-top: 47.5px;
    border-radius: 5px;
    background-color: rgba(var(--c-hmark),.85);

    transition:
        opacity ease-in 0.3s,
        background-color ease-in-out 0.3s;
}
.contact-alert-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 12.5px;
    border-right: 5px solid rgba(var(--c-back));
}
.contact-alert-msg {
    padding: 5px 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.contact .button {
    margin: 0 auto;
    margin-top: 35px;
    transition: opacity ease-in 0.2s;
}

.footer {
    padding: 25px 0;
    margin-bottom: 50px;
    background: rgba(var(--c-hlight),.025);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: .85rem;
}
.footer p {
    opacity: .6;
}
.personal-links {
    cursor: pointer;
    padding-top: 1em;
    font-size: 1.5em;
}
.personal-link *{
    color: rgba(var(--c-hmark));
    transition: color ease-in-out 0.3s;
}
@media (hover: hover) {
    .personal-link *:hover{
        color: rgba(var(--c-hlight));
    }
}

.sep {
    display: block;
    height: 1em;
    border: 0;
    border-top: 1px solid rgba(var(--c-front),.1);
}

/* ------------------------------------------------------------------------- */
/* Media queries */
/* ------------------------------------------------------------------------- */

@media only screen and (max-width: 1220px) {
    .about-text ul {
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
}
@media only screen and (max-width: 1100px) {
    .avatar-wrapper {
        width: 100%;
        margin: 4em 0;
        margin-right: 4em;
        align-items:center;
        justify-content:center;
    }
    .about-text {
        width: 100%;
    }
    .introduction > small {
        color:  rgba(var(--c-hlight));
        font-size: .5em;
    }
    .introduction ul {
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }
    .about-text ul {
        columns: 3;
        -moz-columns: 3;
        -webkit-columns: 3;
    }
}
@media only screen and (max-width: 825px) {
    .about-text ul {
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
}
@media only screen and (max-width: 650px) {
    /* .header, main >section {
        padding-top: 25px;
    } */
    .resume {
        display: none;
    }
    .nav-links > a::before {
        display: block;
    }
    .brand {
        font-size: 1.1em;
    }
    .subhead {
        font-size: .8em;
    }
    .introduction ul {
        width: 100%;
    }
    .brief, .brief2 {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    .about-text ul {
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }
}
@media only screen and (max-width: 534px) {
    .brief {
        margin-top: 2.5em;
    }
    .introduction ul *, .brief, .brief2, .about-text *, .contact > wrapper * {
        font-size: .9rem;
    }

}

/* ------------------------------------------------------------------------- */
/* Fontello */
/* ------------------------------------------------------------------------- */

@font-face {
    font-family: 'fontello';
    src: url('./assets/fonts/fontello.eot?44725284');
    src: url('./assets/fonts/fontello.eot?44725284#iefix') format('embedded-opentype'),
        url('./assets/fonts/fontello.woff2?44725284') format('woff2'),
        url('./assets/fonts/fontello.woff?44725284') format('woff'),
        url('./assets/fonts/fontello.ttf?44725284') format('truetype'),
        url('./assets/fonts/fontello.svg?44725284#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    width: 1em;
    line-height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    display: inline-block;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: "fontello";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* font-size: 120%; */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-up-big:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-twitter:before { content: '\f099'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-menu:before { content: '\f0c9'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-doc-text-inv:before { content: '\f15c'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-gitlab:before { content: '\f296'; }
