:root {
    /* --dark: 68,94,94; GREEN*/
    /* --dark: 122, 55, 46; RED*/
    --dark: 87, 24, 17;
    --mark: 187,94,94;
    --light: 221,222,222;
    --lighter: 251,252,252;
}

.neu-out, .neu-in, .neu-card {
    --neu-dist: 3px;
    --neu-blur: 6px;
    --neu-dark-opacity: 0.25;
    --neu-light-opacity: 0.65;

    --dark-shadow:
        var(--neu-dist)
        var(--neu-dist)
        var(--neu-blur)
        rgba(var(--dark),
        var(--neu-dark-opacity));

    --light-shadow:
        calc(-1*var(--neu-dist))
        calc(-1*var(--neu-dist))
        var(--neu-blur)
        rgba(var(--lighter),var(--neu-light-opacity));

    padding: 0 .5em;
    margin: .5em .5em;
    text-decoration: none;

    color: rgba(var(--dark),0.9) !important;
    background-color: rgba(var(--light)) !important;
    border: 2px solid rgba(var(--lighter),0.15) !important;
    border-radius: 5px !important;
    box-shadow: var(--dark-shadow), var(--light-shadow) !important;
}
.neu-in {
    -webkit-appearance: none;
    box-shadow: inset var(--dark-shadow), inset var(--light-shadow) !important;
}
.neu-card {
    --neu-dist: 5px;
    --neu-blur: 10px;
    --neu-dark-opacity: 0.25;
    --neu-light-opacity: 0.85;
    border: 5px solid rgba(var(--lighter),0.35) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: 400;
    font-family: 'Kanit', sans-serif;

    color: rgb(var(--dark));
}
html, body {
    background-color: rgb(var(--light));
    scroll-behavior: smooth;
}

.btn-hamburger, .btn-top {
    cursor: pointer;

    position: fixed;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    background-color: rgb(var(--light));
    z-index: 2;

    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(var(--dark));
}
.btn-hamburger {
    bottom: 65px;
}

.msg-alert {
    position: fixed;
    top:0;

    padding: .5em 1em;
    color: rgb(var(--lighter));
    background-color: rgba(var(--mark),.85);

    border-radius: .25em;

    opacity: 0;
}

.pop-nav{
    text-align: center;

    position: fixed;
    bottom: 85px;
    right: 40px;

    border: 3px solid rgb(var(--dark));
    border-radius: .25em;
    background-color: rgb(var(--light));
}
.pop-nav ul {
    list-style: none;
}
.pop-nav-btn {
    cursor: pointer;
    display: block;
    padding: .35em;
    margin: .5em;
}

.container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
}
.header-wrapper{
    min-width: 100%;
    min-height: 75%;
    padding: 5em 0;
}
.imagotype-wrapper {
    border-radius: 100% !important;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagotype {
    padding: 0;
    border-radius: 100% !important;
    width: 250px;
    height: 250px;
    /* transform: translate(.35em,0); */
    /* width: 10em; */
    /* margin: .5em 0; */
    object-fit: cover;
}
.brand {
    line-height: 0.85;
    margin: .5em 0;
}
.brand .name{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem;
}
.brand .surname{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.75rem;
}
.subhead {
    font-weight: 400;
    font-size: 1.15rem;
    margin-bottom: .5em;
    font-style: italic;
    color: rgba(var(--dark),0.35);
    text-align: center;
}
.nav {
    margin: 1em 0;
    text-align: center;
}
.button {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: rgb(var(--light));
    padding: .5em;
    margin: 0 .5em;
    border-radius: .35em;
    background-color: rgba(var(--dark),0.85);
}
.personal-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    line-height: 0;
}
.btn-link {
    display: inline-block;
    margin: 1em .5em 0 .5em;
}
.btn-link * {
    font-size: 1.5em;
    color: rgba(var(--dark),0.75);
}

.content > section {
    padding: 2em 0;
}
.content section h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;

    color: rgba(var(--dark),.75);
    border-bottom: 2px solid rgba(var(--dark),.1);
    padding: 0 1em;
}


.reel {
    display: grid;
    row-gap: 2em;
    column-gap: 2em;
    grid-template-columns:repeat(3,1fr);
}
.video {
    padding: 0;
    /* border: 0 !important; */
    border-radius: 5px;
    background-color: rgba(var(--dark),0.45);
}
.video-thumb {
    width: 100%;
    display: block;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.video-description {
    width: 100%;
    text-align: center;
}
.video-links {
    flex-direction: row;
    background-color: rgba(var(--dark),.35);
}
.video-links a {
    margin: 0 .25em;
    font-size: 2em;
}
.video-description-title {
    padding: .5em 0;
    font-weight: 400;
    font-size: 1.25em;
    background-color: rgba(var(--dark),.15);
}
.video-description-content {
    padding: .5em 1em;
    font-weight: 200;
    text-align: justify;
}

.contact label {
    width: 75%;
    margin: .125em 0 .25em 0;
}
.contact input {
    width: 75%;
    margin-bottom: 1em;

    padding: .75em;
    outline:  none;
    border: 1px dotted rgba(var(--dark),0.35);
    font-size: 1em;
    font-weight: 200;
}
.contact textarea {
    resize: none;
    width: 75%;
    height: 8em;

    padding: 1em;
    outline:  none;
    border: 1px dotted rgba(var(--dark),0.35);
    font-size: 1em;
    font-weight: 200;

    margin-bottom: 2.5em;
}
.contact .button {
    padding: 1em;
    text-transform: uppercase;
}

.footer {
    margin: 4em 0;
    padding: 2em;
}
.footer-text {
    width: 100%;
    padding: 2em 2em;
    margin-bottom: 1em;
}

/* Generic stuff */
p {
    font-weight: 200;
    text-align: justify;
}
i {
    font-weight: 200;
}
.full {
    height: 100vh;
}
.flexv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flexc {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media only screen and (max-width: 979px) and (orientation:portrait) {
    .reel {
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 979px) and (orientation:landscape) {
    .reel {
        grid-template-columns: repeat(2,1fr);
    }
    .full {
        height: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .reel {
        grid-template-columns: repeat(1,1fr);
    }
    .personal-links {
        flex-direction: column;
    }
}
@media only screen and (max-width: 374px) {
    .button{
        padding: .25em;
        margin: .5em .5em;
    }
}
@media only screen and (orientation:landscape) {
    .personal-links {
        flex-direction: row;
    }
}
