/* ------------------------------------------------------------------------- */
/* Daniel's CSS defaults */
/* ------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.flexh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.flexv,
.pop-nav, .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------------------------------------------------------------------------- */
/* Page CSS */
/* ------------------------------------------------------------------------- */

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

:root {
    --c-back: 40, 48, 68;
    --c-front: 232, 213, 194;
    --c-lmark: 136, 0, 68;
    --c-hmark: 211, 78, 78;
    --c-hlight: 120, 161, 187;

    --f-thin: 200;
    --f-heavy: 400;


    /* js setup */
    --vh: 1vh;
    --btn-menu-color: rgb(var(--c-hmark));

    --full-height: 100vh;
    --full-height-dynamic: calc(var(--vh,1vh) * 100);

    /* counters */
    counter-reset: my-sec-counter;
}
* {
    font-weight: var(--f-heavy);
    color: rgb(var(--c-front));
    font-family: 'Source Code Pro', monospace;
}
html, body {
    background-color: rgb(var(--c-back));
}

/* Fixed items */
.nav{
    top: 0px;
    right: 0px;
    position: fixed;

    width: 100%;
    background: #0f01 !important;
    box-shadow: 0 6px 12px -8px #0005;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo-wrapper {
    width: 50px;
    height: 50px;
    margin: 25px;
    margin-right: auto;
    border: 2.5px solid rgba(var(--c-hmark),.75);
    border-radius: 5px;
    background-color: rgba(var(--c-hlight),.05);
    transform: rotate(45deg);

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 2.5em;
    font-weight: bolder;
    color: rgba(var(--c-hmark));
    font-family: 'Delius Swash Caps', cursive;
    transform: rotate(-45deg);

}

.btn-menu i{
    color: var(--btn-menu-color);
    transition: color ease-in-out 0.5s;
}
.btn-menu i:active{
    color: var(--btn-menu-color);
    transition:
        color ease-in-out 0.5s,
        transform ease-in-out 0.3s;
}
.btn-menu {
    z-index: 999;
    color: rgba(var(--c-hmark));

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    --size: 3em;
    font-size: 1em;
    width:  var(--size);
    height: var(--size);

    transition:
        transform ease-in-out 0.1s,
}
.btn-menu:hover {
    transform: scale(1.025,1.025);
}
.btn-menu:active {
    transform: scale(1.05,1.05);
}

.pop-nav {
    z-index: 2;

    left: 0;
    top: -2500px;
    position: absolute;

    width: 100%;
    min-height: 100%;
    overflow-x: auto;

    font-size: 2.5em;
    text-align: justify;
    background-color: rgba(var(--c-hmark));

    transition:
        left ease-in-out 0.75s,
        top ease-in-out 0.75s,
        height cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.75s;
}
.pop-nav ul {
    list-style: none;
}
.pop-nav-btn::before {
    color: rgba(var(--c-back), 1);
    counter-increment: my-sec-counter;
    content: "0"counter(my-sec-counter) ".";
    padding-right: 1em;
}
.pop-nav-btn {
    display: block;
    cursor: pointer;
    margin: 1.5em 0;
    padding: .15em .15em;
    color: rgb(var(--c-front));
}
.pop-nav-btn{
    transition: color ease-in-out 0.2s;
}
.pop-nav-btn:hover{
    color: rgba(var(--c-back), 1);
}
.pop-nav-btn:active{
    color: rgba(var(--c-back), .5);
}
.btn-top *{
    color: rgb(var(--c-back));
    transition:
        transform ease-in 0.25s,
        color ease-in-out 0.25s;
}
.btn-top:hover *{
    color: rgba(var(--c-back),.75);
    transform: translate(0,-.25em);
}
.btn-top:active *{
    color: rgba(var(--c-back),0);
    transform: translate(0,-2em);
}
.btn-top {
    padding: .75em 1em;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;

    background: rgba(var(--c-front), .015);
    background: linear-gradient(to bottom,  transparent 0%, rgba(var(--c-front), .025) 100%);
    box-shadow: 0 16px 32px -16px rgba(var(--c-lmark),.15);
}


/* Non fixed items */

.header {
    height: var(--full-height);
    transition: height cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;

}
.header > wrapper > small {
    color:  rgba(var(--c-hlight),.75);
    font-size: .75em;
}
.brand, .brand *{
    color:  rgba(var(--c-hmark));
    font-size: 1.5em;
}
.subhead {
    color:  rgba(var(--c-hlight),.85);
    color:  rgba(var(--c-hlight));
    font-size: 1.25em;
}

main > section {
    height: var(--full-height);
}
.avatar {
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 6px solid transparent;
    box-shadow:
        0 -10px 0 0 rgba(var(--c-hlight),.125),
        0 -25px 0 0 rgba(var(--c-hlight),.0625),
        0 -40px 0 0 rgba(var(--c-hlight),.03125);
    margin-bottom: 75px;
}
/* .about {
} */
.about p {
    margin: 0 15vw;
}


/* ------------------------------------------------------------------------- */
/* Fontello */
/* ------------------------------------------------------------------------- */

@font-face {
    font-family: 'fontello';
    src: url('./assets/fonts/fontello.eot?44725284');
    src: url('./assets/fonts/fontello.eot?44725284#iefix') format('embedded-opentype'),
        url('./assets/fonts/fontello.woff2?44725284') format('woff2'),
        url('./assets/fonts/fontello.woff?44725284') format('woff'),
        url('./assets/fonts/fontello.ttf?44725284') format('truetype'),
        url('./assets/fonts/fontello.svg?44725284#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    width: 1em;
    line-height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    display: inline-block;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: "fontello";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* font-size: 120%; */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-up-big:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-twitter:before { content: '\f099'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-menu:before { content: '\f0c9'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-doc-text-inv:before { content: '\f15c'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-gitlab:before { content: '\f296'; }
