/* ------------------------------------------------------------------------- */
/* Daniel's CSS defaults */
/* ------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/* Page CSS */
/* ------------------------------------------------------------------------- */

:root {
    /* --c-back: 30, 38, 58; */
    --c-back: 25, 33, 53;
    --c-front: 232, 213, 194;
    --c-lmark: 136, 0, 68;
    --c-hmark: 211, 78, 78;
    --c-hlight: 120, 161, 187;

    --f-thin: 200;
    --f-heavy: 400;


    /* js setup */
    --vh: 1vh;
    --btn-menu-color: rgb(var(--c-hmark));

    --full-height: 100vh;
    --full-height-dynamic: calc(var(--vh,1vh) * 100);

    /* counters */
    counter-reset: nav-counter popnav-counter mainsec-counter;
}
* {
    font-weight: var(--f-heavy);
    color: rgb(var(--c-front));
    font-family: 'Source Code Pro', monospace;
}
html, body {
    background-color: rgb(var(--c-back));
}

/* Fixed items */
.nav{
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    font-size: .85rem;

    padding: 0 4vw;
    box-shadow: 0 6px 24px -8px #0002;
    background-color: rgba(var(--c-back),1);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: background-color ease-in-out 0.2s;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 2em;
    font-weight: bolder;
    color: rgba(var(--c-hmark));
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 0 0 15px rgba(var(--c-hmark),.35);
    transition:
        text-shadow ease-out 0.3s,
        color ease-out 0.3s;
}
.logo:hover {
    text-shadow: 0 0 15px rgba(var(--c-hmark),.8);
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.nav-links > a::before {
    color: rgba(var(--c-hmark));
    counter-increment: nav-counter;
    content: "0"counter(nav-counter) ". ";
}
.nav-links > a {
    color: rgb(var(--c-front));
    margin: 1em;
    transition: color ease-out 0.15s;
}
.nav-links > a:hover {
    color: rgb(var(--c-hmark));
}
.nav-links > a:active {
    color: rgb(var(--c-hlight));
}
.resume, .resume-alt {
    text-align: center;
    margin: 0 .25em;
    cursor: pointer;
    border-radius: .2em;
    padding: .15em .45em;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(var(--c-hmark));
    transition: background-color ease-out 0.25s;
}
.resume-alt {
    background-color: rgba(var(--c-back),.15);
    border-bottom: 3px solid rgba(var(--c-back));
}
.resume:hover{
    background-color: rgba(var(--c-hlight),.15);
}
.resume-alt:hover {
    background-color: rgba(var(--c-back),.35);
}
.resume:active {
    background-color: rgba(var(--c-hlight),.35);
}
.resume-alt:active {
    background-color: rgba(var(--c-back),.55);
}
.resume * {
    color: rgba(var(--c-hmark));
}
.resume-alt * {
    color: rgb(var(--c-back));
}
.btn-menu i {
    color: rgba(var(--c-hmark));
    transition: color ease-out 0.3s;
}
.btn-menu {
    cursor: pointer;
    display: none;
    font-size: 1.5em;
}
.pop-nav {
    z-index: 2;

    left: 0;
    top: -2000px;
    position: absolute;

    width: 100%;
    min-height: 100%;
    overflow-x: auto;

    font-size: 2.5em;
    text-align: justify;
    background-color: rgba(var(--c-hmark));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition:
        top ease-in-out 0.75s,
        height cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.75s;
}
.pop-nav > wrapper {
    font-size: 7.5vw;
}
.pop-nav > wrapper > a::before {
    color: rgba(var(--c-back), 1);
    counter-increment: popnav-counter;
    content: "0"counter(popnav-counter) ".";
    padding-right: 1em;
}
.pop-nav > wrapper > a {
    display: block;
    cursor: pointer;
    margin: 1.5em 0;
    padding: .15em .15em;
    color: rgb(var(--c-front));
    transition: color ease-in-out 0.2s;
}
.pop-nav > wrapper > a:hover{
    color: rgba(var(--c-back), 1);
}
.pop-nav > wrapper > a:active{
    color: rgba(var(--c-back), .5);
}


/* Non fixed items */

.container-alt {
    /* visibility: hidden; */
    position: fixed;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin-top: 100px;
    /* transition: height cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s; */
}
.introduction {
    /* font-size: 3vmax;
    margin-left: 3vmax; */
}
.introduction > small {
    color:  rgba(var(--c-hlight),.75);
    font-size: .5em;
}
.brand{
    color:  rgba(var(--c-hmark));
    font-size: 1.5em;
}
.subhead {
    color:  rgba(var(--c-front));
    font-size: 1em;
}
.brief {
    color:  rgba(var(--c-front),.75);

    font-size: 1rem;
    text-align: justify;
    max-width: 50%;
    margin-top: 4em;
}

main > section > h2::before {
    color: rgba(var(--c-hmark));
    counter-increment: mainsec-counter;
    content: "0"counter(mainsec-counter) ". ";
}
main > section > h2 {
    margin-bottom: 2em;
}
main > section {
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    margin: 0 15vw;
    padding: 25vh 0;

}
.avatar-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.avatar{
    --avatar-size: 250px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--c-hmark));
}
.avatar > img{
    cursor: pointer;
    width: 101%;
    height: 101%;
    object-fit: cover;
    border-radius: 100%;
    border: 6px solid rgb(var(--c-back));

    box-shadow:
        6px 6px 0px 0px rgba(var(--c-hmark),.1),
        12px 12px 0px 0px rgba(var(--c-hmark),.05),
        18px 18px 0px 0px rgba(var(--c-hmark),.025),
        -6px -6px 0px 0px rgba(var(--c-hmark),.1),
        -12px -12px 0px 0px rgba(var(--c-hmark),.05),
        -18px -18px 0px 0px rgba(var(--c-hmark),.025);

    opacity: .65;
    transition:
        opacity ease-in-out 0.2s,
        box-shadow ease-in 0.3s;
}
.avatar > img:hover {
    opacity: .9;
    box-shadow:
          8px  -8px 0px -4px rgba(var(--c-hmark),.5),
         16px -16px 0px -4px rgba(var(--c-hmark),.25),
         24px -24px 0px -4px rgba(var(--c-hmark),.125),
         -8px   8px 0px -4px rgba(var(--c-hmark),.5),
        -16px  16px 0px -4px rgba(var(--c-hmark),.25),
        -24px  24px 0px -4px rgba(var(--c-hmark),.125);
}
.about > wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.about-text {
    width: 60%;
}
.about-text ul {
    margin-top: .5em;
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
    list-style: none inside none;
}
.about-text ul > li {
    color: rgba(var(--c-front),.6);
}
.about-text ul > li::before {
    color: rgba(var(--c-hmark));
    content: '> ';
    font-size: .8em;
}
.about-text p {
    color: rgba(var(--c-front),.6);
}
.about-text a[href] {
    color: rgba(var(--c-hmark));
    transition: color ease-in-out 0.3s;
}
.about-text a[href]:hover {
    color: rgba(var(--c-hlight));
}
.about-text span {
    color: rgba(var(--c-front));
}

.sep::before {
    content: "                                    ";
    border: 1px solid transparent;
    border-top: 1px solid rgba(var(--c-front),.1);
}

/* ------------------------------------------------------------------------- */
/* Media queries */
/* ------------------------------------------------------------------------- */

/* @media only screen and (max-width: 979px) and (orientation:portrait) {
    .reel {
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 979px) and (orientation:landscape) {
    .reel {
        grid-template-columns: repeat(2,1fr);
    }
} */
@media only screen and (max-width: 1100px) {
    .avatar-wrapper {
        width: 100%;
        margin: 2em 0;
        align-items:center;
        justify-content:center;
    }
    .about-text {
        width: 100%;
    }
}
@media only screen and (max-width: 750px) {
    main > section {
        margin: 0 7.5vw;
    }
}
@media only screen and (max-width: 650px) {
    .nav-links{
        display: none;
    }
    .btn-menu {
        display: flex;
    }
}
/* @media only screen and (max-width: 374px) {
    .button{
        padding: .25em;
        margin: .5em .5em;
    }
} */

/* ------------------------------------------------------------------------- */
/* Fontello */
/* ------------------------------------------------------------------------- */

@font-face {
    font-family: 'fontello';
    src: url('./assets/fonts/fontello.eot?44725284');
    src: url('./assets/fonts/fontello.eot?44725284#iefix') format('embedded-opentype'),
        url('./assets/fonts/fontello.woff2?44725284') format('woff2'),
        url('./assets/fonts/fontello.woff?44725284') format('woff'),
        url('./assets/fonts/fontello.ttf?44725284') format('truetype'),
        url('./assets/fonts/fontello.svg?44725284#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    width: 1em;
    line-height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    display: inline-block;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: "fontello";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* font-size: 120%; */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-up-big:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-twitter:before { content: '\f099'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-menu:before { content: '\f0c9'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-doc-text-inv:before { content: '\f15c'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-gitlab:before { content: '\f296'; }
